@import 'bootstrap.less';

body {
  padding-top: 40px;
}

@header-bg: #094d75;

.jumbotron {
  #gradient > .vertical(@header-bg; darken(@header-bg, 2%); 50%; 50%);
  background-size: 100% 4px;
  background-color: @header-bg;
  background-repeat: repeat-y;
  color: white;
  text-align: center;
}

.section {
  .make-md-column(8);
  .make-md-column-offset(2);
}

.github-btn {
  border: 0;
  overflow: hidden;
}
