@import 'bootstrap.less';

@header-bg: #094d75;

.navbar {
  margin-bottom: 0px;
  background-color: darken(@header-bg, 10%);
}

.jumbotron {
  #gradient > .vertical(@header-bg; darken(@header-bg, 2%); 50%; 50%);
  background-size: 100% 4px;
  background-color: @header-bg;
  background-repeat: repeat-y;
  color: white;
  text-align: center;
}

.section {
  .make-md-column(8);
  .make-md-column-offset(2);
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid @gray-lighter;
  text-align: center;
}

.github-btn {
  border: 0;
  overflow: hidden;
}
