body {
  padding-top: 40px;
}

.starter-template {
  text-align: center;
}

.jumbotron {
  background: linear-gradient(#044870 2px, transparent 2px) 0 10px;
  background-size: 4px 4px;
  background-color: #094d75;
  color: white;
}
